<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<settings>
		<setting name="cacheEnabled" value="true" /><!-- 二级缓存开启 -->
	</settings>
	<typeAliases>
		<!-- 默认用类的名字来作为类型别名 -->
		<package name="com.parking.common.pojo" />
	</typeAliases>
</configuration>
