<style>
.bui-list .span1 .item-text {
	margin-bottom: .2rem;
}

.bui-list .span1 .item-text:last-child {
	margin-bottom: 0;
}

.pic {
	height: 2rem;
	width: 2rem;
	overflow: hidden;
}

.bui-list img {
	width: 100%;
	height: 100%;
}

.informations li {
	padding-bottom: 10%;
}
</style>
<div class="bui-page" id="bui-page">
	<header class="bui-bar">
		<div class="bui-bar-left">
			<a class="bui-btn btn-back"><i class="icon-back"></i></a>
		</div>
		<div class="bui-bar-main">我的车位</div>
		<div class="bui-bar-right"></div>
	</header>
	<main>
	<ul v-for="cp in message"  class="bui-list" >
		<li class="bui-btn-title"></li>
		<li :cpid="cp.cp_id" onclick="cpdetail(this)" class="bui-btn bui-box">
			<div class="pic">
				<img src="images/banner01.png">
			</div>
			<div style="margin-left: .8rem; height: 2rem;">
				<ul class="informations">
					<li style="font-size: large;">{{cp.cp_community}}</li>
					<li>{{cp.cp_address}}</li>
					<li style="text-align:right" v-if="cp.cp_status==0">审核中</li>
					<li style="text-align:right" v-if="cp.cp_status==1">可出租</li>
					<li style="text-align:right" v-if="cp.cp_status==2">已发布</li>
					<li style="text-align:right" v-if="cp.cp_status==3">审核未通过</li>
				</ul>
			</div>
		</li>
	</ul>
	</main>
	<footer>
	 	<div class="container-y">
	      <div class="bui-box-space">
	        <div id="tianjia" class="span1">
	          <div class="bui-btn round  primary" >添加车位</div>
	        </div>
	      </div>
	    </div>
	</footer>
</div>
